<div class="main">
    <div class="container-fluid">
        <ul class="nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link" routerLink="">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/experience">EXPERIENCE</a>
        </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about-us">ABOUT</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link disabled" routerLink="/education">EDUCATION</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled"routerLink="/certificates">CERTIFICATES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled"  routerLink="/contact">CONTACT</a>
          </li>
        </ul>
    </div>
    <div class="container text-white text-center mt-5">
    <h1>Education</h1>
    <h3>Bachelor of Engineering <span class="sub-text">(08/2015 - 04/2019)</span></h3>
    <h3>College: <span class="sub-text">Vasavi College of Engineering</span></h3>
    <h3>Course: <span class="sub-text">Computer Science (8.53 CGPA)</span></h3>

    <h3>Telangana State Board of Intermediate Education<span class="sub-text"> (06/2013 - 03/2015)</span></h3>
    <h3>College: <span class="sub-text">Sri Chaitanya Junior College</span></h3>
    <h3>Course: <span class="sub-text">Maths, Physics, Chemistry (97.7%)</span></h3>

    <h3>Board Of Secondary Education Andhra Pradesh<span class="sub-text"> (06/2012 - 03/2013)</span></h3>
    <h3>School: <span class="sub-text">Bhashyam High School</span></h3>
    <h3>Course: <span class="sub-text">Matriculation (9.2 GPA)</span></h3>
      <div class="extra">

      </div>
    </div>
</div>
<div class="footer">
    <marquee>This website will give you the idea of who am I and what I do</marquee>
    <div class="footer-copyright text-center">© 2021 Copyright:
    </div>
  </div> 