<div class="main">
    <div class="container-fluid">
        <ul class="nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link" routerLink="">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/experience">EXPERIENCE</a>
        </li>
          <li class="nav-item active">
            <a class="nav-link" routerLink="/about-us">ABOUT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" routerLink="/education">EDUCATION</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled"routerLink="/certificates">CERTIFICATES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" routerLink="/contact">CONTACT</a>
          </li>
        </ul>
    </div>
    <div class="container text-white text-center mt-5">
    <h1>About Me</h1>
    <p>Dedicated and efficient full stack developer with more than 2 years experience in application layers, presentation layers, and databases</p>
    <h3>GENERAL SKILLS</h3>
    <ul class="pl-0">
        <li> Attention to detail</li>
        <li> Communication</li>
        <li> Problem Solving</li>
        <li> Team work</li>
    </ul>
    <h3>INTERESTS</h3>
    <ul class="pl-0">
        <li> Solving Logical Puzzles</li>
        <li> Carroms</li>
        <li> Badminton</li>
        <li> Cooking</li>
        <li> Video Games</li>
    </ul>
    <div class="extra">
    </div>
    </div>
</div>
<div class="footer">
    <marquee>This website will give you the idea of who am I and what I do</marquee>
    <div class="footer-copyright text-center">© 2021 Copyright:
    </div>
  </div> 