<div class="main">
    <div class="container-fluid">
        <ul class="nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link" routerLink="">Home</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" routerLink="/experience">EXPERIENCE</a>
        </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about-us">ABOUT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" routerLink="/education">EDUCATION</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled"routerLink="/certificates">CERTIFICATES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" routerLink="/contact">CONTACT</a>
          </li>
        </ul>
    </div>
    <div class="container text-white text-center mt-5">
    <h1>Work Experience</h1>

    <h3>Role: <span class="sub-text">Software Analyst</span></h3>
    <h3>Company: <span class="sub-text">EnergyTech Global Pvt. Ltd.</span></h3><span class="sub-text">(Building Enterprise Software Solutions for Global Electricity Retail markets.)</span>
    <h3>Duration: <span class="sub-text">01/2019 - 03/2021</span></h3>
    <h3>Achievements/Tasks</h3>
    <ul class="pl-0">
        <li> Developed full-stack web applications that processed, analyzed and rendered data visually.</li>
        <li> Worked on web development using Angular framework, typescript, PHP, Slim framework, JavaScript, JQuery, HTML5, CSS, Bootstrap 4, D3.</li>
        <li> Worked on API Development using Python.</li>
        <li> Worked with SQL Databases.</li>
        <li> Worked on hybrid Mobile Application Development using Ionic.</li>
        <li> Planned, wrote, and debugged web applications and software with complete accuracy.</li>
        <li> Involved in production error monitoring and fixing the errors.</li>
        <li>  Liaised with back-end developers, front-end developers, and quality assurance tester as needed.</li>
        <li>  Experience in version control and change management tools like SVN.</li>
        <li>  Familiar with vagrant box and Linux commands.</li>
    </ul>
    <div class="extra">
      </div>
   
    </div>
</div>
<div class="footer">
    <marquee>This website will give you the idea of who am I and what I do</marquee>
    <div class="footer-copyright text-center">© 2021 Copyright:
    </div>
  </div> 