<div class="main">
    <div class="container-fluid">
        <ul class="nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link" routerLink="">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/experience">EXPERIENCE</a>
        </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about-us">ABOUT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" routerLink="/education">EDUCATION</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link disabled"routerLink="/certificates">CERTIFICATES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled"  routerLink="/contact">CONTACT</a>
          </li>
        </ul>
    </div>
    <div class="container text-white text-center mt-5">
    <h1>Certificates</h1>
    <h3>TestDome</h3>
    <ul class="pl-0">
        <li> JavaScript
        </li>
        <li> Angular and Typescript
        </li>
    </ul>
    <h3>HackerRank</h3>
    <ul class="pl-0">
        <li> Certification on Angular
        </li>
    </ul>
    <h3>ORBIT</h3>
    <ul class="pl-0">
        <li> Programming in C with data structures, Programming in C++
        </li>
    </ul>
    <h3>Salesforce</h3>
    <ul class="pl-0">
        <li> Platform App Builder</li>
    </ul>
    <h3>NPTEL</h3>
    <ul class="pl-0">
        <li> Cloud Computing Course</li>
    </ul>
    <div class="extra">

    </div>
    </div>
</div>
<div class="footer">
    <marquee>This website will give you the idea of who am I and what I do</marquee>
    <div class="footer-copyright text-center">© 2021 Copyright:
    </div>
  </div> 