<div class="container-fluid">
    <ul class="nav justify-content-center">
      <li class="nav-item active">
        <a class="nav-link" routerLink="">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/experience">EXPERIENCE</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about-us">ABOUT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" routerLink="/education">EDUCATION</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled"routerLink="/certificates">CERTIFICATES</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled"  routerLink="/contact">CONTACT</a>
      </li>
    </ul>
  </div>
  <div class="container-fluid bg-black text-white text-center pt-5 pl-1 pr-1" >
    <h1 class="mb-0">Hey! I am Vivek.
    I build interactive websites that run across platforms & devices</h1>
  </div>
  <div class="container-fluid" id="animate">
  </div>
  <div class="footer">
    <marquee>This website will give you the idea of who am I and what I do</marquee>
    <div class="footer-copyright text-center">© 2021 Copyright:
    </div>
  </div> 
  